@import url("https://use.typekit.net/zrl6oix.css");

/*brand font-sizing */
:root{
  --fs-lg: 60px; /* font-size-large */
  --fs-md: 30px; /* font-size-large */
  --fs-sm: 20px; /* font-size-large */
  --fs-xs: 5px; /* font-size-large*/
  
  /* brand colors */
  --c-p:  #ca8081; /* color-primary */
  --c-s: #fff; /* color-secondary */
  --c-t: #333; /* color-tertiary */
  --c-q:#363636; /* color-quatenary */
  --c-5: lightgrey;
  
  /* brand images */
  --bg-img1: url("./utils/images/bg_parallax.png"); /* background-image-1 */
  /* --bg-img2: url("./utils/images/bg-alt.png"); background-image-2 */
  --logo-img: url("./utils/images/logo.png");  /* logo-img */
  /* --icon-img: url("./utils/images/icon.png") icon */

    /* Brand Font */
  --main-text: 'timberline', sans-serif;
  --accent-text: 'jaf-bernina-sans-condensed', sans-serif;
  }
  
  /* ---------- Sizing ---------- */

  /* size-icon */
  .s-i{
  width: 25px;
  }
  
   /* size-small */
  .s-sm {
  width: 300px;
  height: auto;
  }
  
  /* size-medium */
  .s-md {
  width: 450px;
  height: auto;
  }
  
  /* size-large  */
  .s-lg{
  width: 950px;
  height: auto;
  }

  /* padding */ 
  .pad-30{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .pad-20{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .pad-10{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  /* Backgrounds */
  .bg-parallax{
      position: absolute;
      top: 0px;
      left: 0px;
      background-image: var(--bg_img1);
      background-position: right;
      background-size: cover;
      background-repeat: no-repeat; 
  }
  
  .bg-full-width{
      position: absolute;
      top: 0px;
      left: 0px;
      background-image: var(--bg_img1);
      background-position: right;
      background-size: auto;
      background-repeat: no-repeat; 
  }
  
  .bg-repeat{
      position: absolute;
      top: 0px;
      left: 0px;
      background-image: var(--bg_img1);
      background-position: right;
      background-repeat: repeat;
  }
  
  .overlay {
      background-color: var(--c-s);
      background-position: right;
      background-size: cover;
      background-repeat: no-repeat; 
      opacity: 50%;
  }
  
  header-img-container {

  }

  /* Borders */
  .circle{
      border-radius: 50%;
  }
  
  .curved-ends{
      border-radius: 10%;
      border-style: none;
  }
  
  /* Positioning */
  .align-middle{
    display: block;
    vertical-align: middle;
  }

  /* Headings */
  h2 {
    font-family: var(--main-text);
    color: var(--c-q);
    font-size: var(--fs-lg);
  }

  /* Styling Specifics */
  .logo {
    margin-left:80px;
  }
  .App{
      background-color: var(--c-p);
  }
  .navigation-bar{
    background-color: var(--c-s);
    color: var(--c-t);
    font-family: var(--accent-text);
    font-size: var(--fs-sm);
    font-weight: bold;
}
.navigation-text {
    padding-top: 20px;
}
  #join_banner, #contact {
      background-color: var(--c-s);
      color: var(--c-t);
      font-family: var(--accent-text);
      font-size: var(--fs-md);
      line-height: 2rem;
  }
  .mailingform {
    padding-top: 80px;
  }
  #header_banner {
    margin-bottom:-30px;
  }
  #mailinglist_banner, #footer{
      background-color: var(--c-t);
      color: var(--c-5);
      font-family: var(--accent-text);
      font-size: var(--fs-sm);
  }
  #genre_banner{
      background-color: var(--c-q);
      background-image: url("./utils/images/bg_music.png");
  }
  #testimonial_banner{
      background-color: var(--c-5);
  }
  .know-input{
    text-align: left;
  }

  /* position-centered */
  .center {
      text-align: center;
      vertical-align: middle;
  }
  .p-c{
    margin-top: -30px;
  } 


  /* iframe */
  .iframe-container {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
      height:0;
  }

  .iframe-container iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%
  }

  @media screen and (max-width: 600px){
  .s-lg{
      width: 500px;
  }
  }
  @media screen and (max-width: 400px){
  .s-lg{
      width: 300px;
  }
  
  }

  @media screen and (max-width: 400px) {
    .diamonds {
      visibility: hidden;
      clear: both;
    }
    .mailingform {
      padding-top: 0px !important;
    }
}
